{
  "openapi": "3.1.0",
  "info": {
    "title": "joyfill",
    "version": "1.1"
  },
  "servers": [
    {
      "url": "https://api-joy.joyfill.io/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/documents": {
      "post": {
        "summary": "Create a document",
        "description": "",
        "operationId": "create-a-document",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Specifies a document's unique ID. Maximum length is 80 characters. Identifier cannot be changed after creation. Leave the identifier param empty to have Joyfill auto generate an identifier."
                  },
                  "name": {
                    "type": "string",
                    "description": "Specifies the visual display name. When the template param is used in this creation event and this name is left blank the document will automatically be given the same name as the original template."
                  },
                  "files": {
                    "type": "array",
                    "description": "Array of JoyDoc file objects. See the JoyDoc data structure under the guides section to learn more."
                  },
                  "fields": {
                    "type": "array",
                    "description": "Array of JoyDoc field objects. See the JoyDoc data structure under the guides section to learn more."
                  },
                  "template": {
                    "type": "string",
                    "description": "The template identifier to use as the source of the document."
                  },
                  "group": {
                    "type": "string",
                    "description": "The group identifier of the group that you would like to create the document for."
                  },
                  "stage": {
                    "type": "string",
                    "default": "published",
                    "enum": [
                      "draft",
                      "published"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"String\",\n  \"identifer\": \"String\",\n  \"name\": \"String\",\n  \"group\": \"String\",\n  \"stage\": \"String\",\n  \"files\": \"Array\",\n  \"fields\": \"Array\"\n   \n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "String"
                    },
                    "identifer": {
                      "type": "string",
                      "example": "String"
                    },
                    "name": {
                      "type": "string",
                      "example": "String"
                    },
                    "group": {
                      "type": "string",
                      "example": "String"
                    },
                    "stage": {
                      "type": "string",
                      "example": "String"
                    },
                    "files": {
                      "type": "string",
                      "example": "Array"
                    },
                    "fields": {
                      "type": "string",
                      "example": "Array"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "get": {
        "summary": "List all documents",
        "description": "",
        "operationId": "list-all-documents",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 25.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "An integer for use with pagination. For instance, if limit is set to 25 and you set page to 2 then results 26-50 will be returned.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "document",
                "template"
              ],
              "default": "document"
            }
          },
          {
            "name": "template",
            "in": "query",
            "description": "Specifies an original source template identifier to filter documents.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "Filter documents by a specific group identifier. Only documents that belong to the specified group will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "published",
                "draft"
              ],
              "default": "published"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Limit the data returned as a part of the response by specifying the desired properties ( [\"name\", \"stage\", \"files\"] )",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [Object, Object, ...]\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Not Found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not Found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/documents/bulk": {
      "post": {
        "summary": "Bulk create documents",
        "description": "",
        "operationId": "bulk-create-documents",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "description": "Array of raw Document objects or Document from template objects. Max 100 documents can be created at a time.",
                    "items": {
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "description": "Specifies a document's unique ID. Maximum length is 80 characters. Identifier cannot be changed after creation. Leave the identifier param empty to have Joyfill auto generate an identifier."
                        },
                        "name": {
                          "type": "string",
                          "description": "Specifies the visual display name. When the template param is used in this creation event and this name is left blank the document will automatically be given the same name as the original template."
                        },
                        "files": {
                          "type": "array",
                          "description": "Array of JoyDoc file objects. See the JoyDoc data structure under the guides section to learn more.",
                          "default": []
                        },
                        "fields": {
                          "type": "array",
                          "description": "Array of JoyDoc field objects. See the JoyDoc data structure under the guides section to learn more.",
                          "default": []
                        },
                        "template": {
                          "type": "string",
                          "description": "The template identifier to use as the source of the document."
                        },
                        "group": {
                          "type": "string",
                          "description": "The group identifier of the group that you would like to create the document for."
                        },
                        "stage": {
                          "type": "string",
                          "default": "published",
                          "enum": [
                            "draft",
                            "published"
                          ]
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n \t\"data\": [\n    {}\n  ],\n  \"failures\": [\n    {\n      \"message\": \"Example reason for failure\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {

                        }
                      }
                    },
                    "failures": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "Example reason for failure"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/documents/{identifier}": {
      "post": {
        "summary": "Update a document",
        "description": "",
        "operationId": "update-a-document",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "files",
                  "fields"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "document",
                    "enum": [
                      "document",
                      "template"
                    ]
                  },
                  "name": {
                    "type": "string"
                  },
                  "files": {
                    "type": "array",
                    "description": "Array of JoyDoc file objects. See the JoyDoc data structure under the guides section."
                  },
                  "fields": {
                    "type": "array",
                    "description": "Array of JoyDoc field objects. See the JoyDoc data structure under the guides section to learn more."
                  },
                  "group": {
                    "type": "string",
                    "description": "The group identifier of the group that you would like to add the document to"
                  },
                  "stage": {
                    "type": "string",
                    "default": "published",
                    "enum": [
                      "draft",
                      "published"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"String\",\n  \"identifer\": \"String\",\n  \"name\": \"String\",\n  \"group\": \"String\",\n  \"stage\": \"String\",\n  \"files\": \"Array\",\n  \"fields\": \"Array\"\n   \n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "String"
                    },
                    "identifer": {
                      "type": "string",
                      "example": "String"
                    },
                    "name": {
                      "type": "string",
                      "example": "String"
                    },
                    "group": {
                      "type": "string",
                      "example": "String"
                    },
                    "stage": {
                      "type": "string",
                      "example": "String"
                    },
                    "files": {
                      "type": "string",
                      "example": "Array"
                    },
                    "fields": {
                      "type": "string",
                      "example": "Array"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "delete": {
        "summary": "Delete a document",
        "description": "",
        "operationId": "delete-a-document",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"identifer\": \"String\",\n \t\"deleted\": \"Boolean\"  \n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "identifer": {
                      "type": "string",
                      "example": "String"
                    },
                    "deleted": {
                      "type": "string",
                      "example": "Boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "get": {
        "summary": "Retrieve a document",
        "description": "",
        "operationId": "retrieve-a-document",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"String\",\n  \"identifer\": \"String\",\n  \"name\": \"String\",\n  \"group\": \"String\",\n  \"stage\": \"String\",\n  \"files\": \"Array\",\n  \"fields\": \"Array\"   \n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "String"
                    },
                    "identifer": {
                      "type": "string",
                      "example": "String"
                    },
                    "name": {
                      "type": "string",
                      "example": "String"
                    },
                    "group": {
                      "type": "string",
                      "example": "String"
                    },
                    "stage": {
                      "type": "string",
                      "example": "String"
                    },
                    "files": {
                      "type": "string",
                      "example": "Array"
                    },
                    "fields": {
                      "type": "string",
                      "example": "Array"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/documents/{identifier}/changelogs": {
      "post": {
        "summary": "Update a document via changelogs",
        "description": "",
        "operationId": "update-a-document-changelogs",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "changelogs": {
                    "type": "array",
                    "description": "Array of Joyfill changelog objects. See https://docs.joyfill.io/docs/changelogs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"String\",\n  \"identifer\": \"String\",\n  \"name\": \"String\",\n  \"group\": \"String\",\n  \"stage\": \"String\",\n  \"files\": \"Array\",\n  \"fields\": \"Array\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "String"
                    },
                    "identifer": {
                      "type": "string",
                      "example": "String"
                    },
                    "name": {
                      "type": "string",
                      "example": "String"
                    },
                    "group": {
                      "type": "string",
                      "example": "String"
                    },
                    "stage": {
                      "type": "string",
                      "example": "String"
                    },
                    "files": {
                      "type": "string",
                      "example": "Array"
                    },
                    "fields": {
                      "type": "string",
                      "example": "Array"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/documents/search": {
      "post": {
        "summary": "Search all documents",
        "description": "Search, filer and sort documents",
        "operationId": "search-all-documents",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 25.",
                    "default": 25,
                    "format": "int32"
                  },
                  "page": {
                    "type": "integer",
                    "description": "An integer for use with pagination. For instance, if limit is set to 25 and you set page to 2 then results 26-50 will be returned.",
                    "default": 1,
                    "format": "int32"
                  },
                  "query": {
                    "type": "object",
                    "description": "See Joyfill's [Search Query Syntax](https://dash.readme.com/project/joyfill/v1.1/docs/platform-api-search)",
                    "properties": {

                    }
                  },
                  "sort": {
                    "type": "object",
                    "description": "See Joyfill's [Search Sort Syntax](https://dash.readme.com/project/joyfill/v1.1/docs/platform-api-search)",
                    "properties": {

                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [Object, Object, ...]\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Not Found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not Found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/documents/{identifier}/files/datauri": {
      "post": {
        "summary": "Create a image upload (data uri)",
        "description": "Create a document image upload to be used for image fields, page backgrounds, etc.",
        "operationId": "create-document-image-datauri",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Image Data URI"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"url\": \"String\",\n  \"fileName\": \"String\",\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/documents/{identifier}/exports/pdf": {
      "post": {
        "summary": "Create a document pdf export",
        "description": "",
        "operationId": "create-a-document-pdf-export",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "A document's unique identifier. Specifies that you want to use a saved Joyfill document to generate the PDF export.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fields": {
                    "type": "array",
                    "description": "Specifies a list of JoyDoc Fields that you would like to merge/overwrite inside the targeted document identifier."
                  },
                  "timezone": {
                    "type": "string",
                    "default": "UTC"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"download_url\": \"String\",\n  \"preview_url\": \"String\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "download_url": {
                      "type": "string",
                      "example": "String"
                    },
                    "preview_url": {
                      "type": "string",
                      "example": "String"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/documents/exports/pdf": {
      "post": {
        "summary": "Create a document pdf export using Raw JSON Payload",
        "description": "",
        "operationId": "create-a-document-pdf-export-with-raw-json-payload",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "object",
                    "description": "Specifies a list of JoyDoc Fields that you would like to merge/overwrite inside the targeted document identifier.",
                    "properties": {
                      "identifier": {
                        "type": "string",
                        "description": "Specifies a document's unique ID. Maximum length is 80 characters. Identifier cannot be changed after creation. Leave the identifier param empty to have Joyfill auto generate an identifier."
                      },
                      "name": {
                        "type": "string",
                        "description": "Specifies the visual display name. When the template param is used in this creation event and this name is left blank the document will automatically be given the same name as the original template."
                      },
                      "files": {
                        "type": "array",
                        "description": "Array of JoyDoc file objects. See the JoyDoc data structure under the guides section to learn more."
                      },
                      "fields": {
                        "type": "array",
                        "description": "Array of JoyDoc field objects. See the JoyDoc data structure under the guides section to learn more."
                      },
                      "template": {
                        "type": "string",
                        "description": "The template identifier to use as the source of the document."
                      },
                      "group": {
                        "type": "string",
                        "description": "The group identifier of the group that you would like to create the document for."
                      },
                      "stage": {
                        "type": "string",
                        "default": "published",
                        "enum": [
                          "draft",
                          "published"
                        ]
                      }
                    }
                  },
                  "timezone": {
                    "type": "string",
                    "default": "UTC"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"download_url\": \"String\",\n  \"preview_url\": \"String\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "download_url": {
                      "type": "string",
                      "example": "String"
                    },
                    "preview_url": {
                      "type": "string",
                      "example": "String"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/templates": {
      "post": {
        "summary": "Create a template",
        "description": "",
        "operationId": "create-a-template",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "files",
                  "fields"
                ],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Specifies a template's unique ID. Maximum length is 80 characters. Identifier cannot be changed after creation. Leave the identifier param empty to have Joyfill auto generate an identifier."
                  },
                  "name": {
                    "type": "string"
                  },
                  "files": {
                    "type": "array",
                    "description": "Array of JoyDoc file objects. See the JoyDoc data structure under the guides section."
                  },
                  "fields": {
                    "type": "array",
                    "description": "Array of JoyDoc field objects. See the JoyDoc data structure under the guides section to learn more."
                  },
                  "group": {
                    "type": "string",
                    "description": "The group identifier of the group that you would like to create the document for."
                  },
                  "stage": {
                    "type": "string",
                    "default": "published",
                    "enum": [
                      "draft",
                      "published"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"String\",\n  \"identifer\": \"String\",\n  \"name\": \"String\",\n  \"group\": \"String\",\n  \"stage\": \"String\",\n  \"files\": [\"JoyDocFile\",\"etc.\"],\n   \n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "get": {
        "summary": "List all templates",
        "description": "",
        "operationId": "list-all-templates",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 25.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "An integer for use with pagination. For instance, if limit is set to 25 and you set page to 2 then results 26-50 will be returned.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "Filter documents by a specific group identifier. Only documents that belong to the specified group will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "published",
                "draft"
              ],
              "default": "published"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Limit the data returned as a part of the response by specifying the desired properties ([\"name\", \"stage\", \"files\")]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": []\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Not Found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not Found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/templates/{identifier}": {
      "post": {
        "summary": "Update a template",
        "description": "",
        "operationId": "update-a-template",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "files",
                  "fields"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "files": {
                    "type": "array",
                    "description": "Array of JoyDoc file objects. See the JoyDoc data structure under the guides section."
                  },
                  "fields": {
                    "type": "array",
                    "description": "Array of JoyDoc field objects. See the JoyDoc data structure under the guides section to learn more."
                  },
                  "group": {
                    "type": "string",
                    "description": "The group identifier of the group that you would like to add the document to"
                  },
                  "stage": {
                    "type": "string",
                    "default": "published",
                    "enum": [
                      "draft",
                      "published"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"String\",\n  \"identifer\": \"String\",\n  \"name\": \"String\",\n  \"group\": \"String\",\n  \"stage\": \"String\",\n  \"files\": [\"JoyDocFile\",\"etc.\"],\n   \n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "delete": {
        "summary": "Delete a template",
        "description": "",
        "operationId": "delete-a-template",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"identifer\": \"String\",\n \t\"deleted\": \"Boolean\"  \n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "identifer": {
                      "type": "string",
                      "example": "String"
                    },
                    "deleted": {
                      "type": "string",
                      "example": "Boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "get": {
        "summary": "Retrieve a template",
        "description": "",
        "operationId": "retrieve-a-template",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"String\",\n  \"identifer\": \"String\",\n  \"name\": \"String\",\n  \"group\": \"String\",\n  \"stage\": \"String\",\n  \"files\": [\"JoyDocFile\",\"etc.\"]   \n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "String"
                    },
                    "identifer": {
                      "type": "string",
                      "example": "String"
                    },
                    "name": {
                      "type": "string",
                      "example": "String"
                    },
                    "group": {
                      "type": "string",
                      "example": "String"
                    },
                    "stage": {
                      "type": "string",
                      "example": "String"
                    },
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "JoyDocFile"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/templates/{identifier}/documents": {
      "post": {
        "summary": "Sync template documents",
        "description": "Sync the latest template styles and layout changes to pre-existing template documents",
        "operationId": "sync-template-documents",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "The template identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "page"
                ],
                "properties": {
                  "limit": {
                    "type": "integer",
                    "description": "The number of template documents to update with this request.",
                    "default": 250,
                    "format": "int32"
                  },
                  "page": {
                    "type": "integer",
                    "description": "An integer for use with update pagination. For instance, if limit is set to 25 and you set page to 2 then results 26-50 will be updated.",
                    "default": 1,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"page\": \"Number\",\n  \"pages\": \"Number\",\n  \"total\": \"Number\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "string",
                      "example": "Number"
                    },
                    "pages": {
                      "type": "string",
                      "example": "Number"
                    },
                    "total": {
                      "type": "string",
                      "example": "Number"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/groups": {
      "post": {
        "summary": "Create a group",
        "description": "",
        "operationId": "create-a-group",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Specifies a group's unique ID. Maximum length is 80 characters.  * Don't use personally identifiable information (PII) such as the user's email address, legal name, or phone number. Identifier cannot be changed after creation. Leave the identifier param empty to have Joyfill auto generate an identifier."
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"identifer\": \"String\",\n  \"title\": \"String\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "identifer": {
                      "type": "string",
                      "example": "String"
                    },
                    "title": {
                      "type": "string",
                      "example": "String"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Not Found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not Found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "get": {
        "summary": "List all groups",
        "description": "",
        "operationId": "list-all-groups",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 25.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "An integer for use with pagination. For instance, if limit is set to 25 and you set page to 2 then results 26-50 will be returned.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [Object, Object, ...]\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Not Found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not Found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/groups/{identifier}": {
      "post": {
        "summary": "Update a group",
        "description": "",
        "operationId": "update-a-group",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"_id\": \"String\",\n  \"identifer\": \"String\",\n  \"title\": \"String\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "example": "String"
                    },
                    "identifer": {
                      "type": "string",
                      "example": "String"
                    },
                    "title": {
                      "type": "string",
                      "example": "String"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Not Found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not Found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "delete": {
        "summary": "Delete a group",
        "description": "",
        "operationId": "delete-a-group",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"deleted\": \"Boolean\",\n  \"identifier\": \"String\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "string",
                      "example": "Boolean"
                    },
                    "identifier": {
                      "type": "string",
                      "example": "String"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Not Found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not Found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "get": {
        "summary": "Retrieve a group",
        "description": "",
        "operationId": "retrieve-a-group",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"_id\": \"String\",\n  \"identifer\": \"String\",\n  \"title\": \"String\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "example": "String"
                    },
                    "identifer": {
                      "type": "string",
                      "example": "String"
                    },
                    "title": {
                      "type": "string",
                      "example": "String"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Not Found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not Found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/users": {
      "post": {
        "summary": "Create a user",
        "description": "",
        "operationId": "create-a-user",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Specifies a user's unique ID. Maximum length is 80 characters.  * Don't use personally identifiable information (PII) such as the user's email address, legal name, or phone number. Identifier cannot be changed after creation. Leave the identifier param empty to have Joyfill auto generate an identifier."
                  },
                  "group": {
                    "type": "string",
                    "description": "The identifier of the group you want to add the user to. If no group exists with the specified identifier then one will automatically be created."
                  },
                  "issueAccessToken": {
                    "type": "boolean",
                    "description": "Determines whether to create an access token for the user. If set to true, an access token will be generated and returned in the token field. This token can be used in API request instead of API Keys.",
                    "default": false
                  },
                  "accessTokenExpiration": {
                    "type": "string",
                    "description": "Millisecond timestamp of token expiration date. Expired tokens will not be able to make API requests. Leave blank to issue an access token that never expires.",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"String\",\n  \"identifer\": \"String\",\n  \"group\": \"String (optional)\",\n}"
                  },
                  "Token Creation": {
                    "value": "{\n  \"type\": \"String\",\n  \"identifer\": \"String\",\n  \"group\": \"String (optional)\",\n  \"token\": \"String\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "String"
                    },
                    "identifer": {
                      "type": "string",
                      "example": "String"
                    },
                    "group": {
                      "type": "string",
                      "example": "String (optional)"
                    },
                    "token": {
                      "type": "string",
                      "example": "String"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Invalid Request\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid Request"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "get": {
        "summary": "List all users",
        "description": "",
        "operationId": "list-all-users",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 25.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "An integer for use with pagination. For instance, if limit is set to 25 and you set page to 2 then results 26-50 will be returned.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of users you want to return. See the users Overview page for more information about user types.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "organization",
                "group"
              ],
              "default": "all"
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "Filter users by a specific group identifier. Only users that belong to the specified group will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\"Object\", \"Object\", \"etc.\"]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Not Found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not Found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/users/{identifier}": {
      "delete": {
        "summary": "Delete a user",
        "description": "",
        "operationId": "delete-a-user",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"deleted\": \"Boolean\",\n  \"identifier\": \"String\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "string",
                      "example": "Boolean"
                    },
                    "identifier": {
                      "type": "string",
                      "example": "String"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "get": {
        "summary": "Retrieve a user",
        "description": "",
        "operationId": "retrieve-a-user",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"String\",\n  \"identifer\": \"String\",\n  \"group\": \"String\",\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Not Found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not Found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/users/{identifier}/access_tokens": {
      "post": {
        "summary": "Create a user access token",
        "description": "",
        "operationId": "create-a-user-access-token",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Identifier of the user that you want to issue the access token for. User identifier can be found on the Joyfill User on the `user.identifier` property.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessTokenExpiration": {
                    "type": "string",
                    "description": "Optional. Millisecond timestamp of token expiration date. Expired tokens will not be able to make API requests. Leave blank to issue an access token that never expires.",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"identifier\" \"String\",\n  \"token\": \"String\"\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "get": {
        "summary": "List all user access tokens",
        "description": "",
        "operationId": "list-all-user-access-tokens",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 25.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "An integer for use with pagination. For instance, if limit is set to 25 and you set page to 2 then results 26-50 will be returned.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "Specifies the unique ID of the user you want to retrieve the access tokens for.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\"String\", \"String\", \"etc.\"]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "String"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Not Found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Not Found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/users/{identifier}/access_tokens/{token}": {
      "delete": {
        "summary": "Delete a user access token",
        "description": "",
        "operationId": "delete-a-user-access-token",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Identifier of the user that you want to issue the access token for. User identifier can be found on the Joyfill User on the `user.identifier` property.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "token",
            "in": "path",
            "description": "Full access token string.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"identifier\" \"String\",\n  \"token\": \"String\",\n  \"deleted\": \"Boolean\"\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/utilities/pdf/to/png/datauri": {
      "post": {
        "summary": "Convert PDF to PNGs (data uri)",
        "description": "Convert a PDF into page background images.",
        "operationId": "convert-pdf-to-png-datauri",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Supports both API Key and User Access Token authorization. See https://joyfill.mintlify.app/api/authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "PDF Data URI"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"items\": [\n    { \"url\": \"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABqQAAAiYCAIAAAA+NVHkAAAACXBIWXMAAB7CAAAewgFu0HU+AAD...\" } \n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "example": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABqQAAAiYCAIAAAA+NVHkAAAACXBIWXMAAB7CAAAewgFu0HU+AAD..."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": false,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
